@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 100;
  src: url('IRANSans_FaNum_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 300;
  src: url('IRANSans_FaNum_Light.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: normal;
  src: url('IRANSans_FaNum.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: 500;
  src: url('IRANSans_FaNum_Medium.ttf') format('truetype');
}

@font-face {
  font-family: iransans;
  font-style: normal;
  font-weight: bold;
  src: url('IRANSans_FaNum_Bold.ttf') format('truetype');
}
